.pagination {
    margin: 20px 0;
    text-align: center;
}
.pagination button {
    margin: 0 2px;
    border: none;
    padding: 5px 10px;
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
}
.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.custom-select ul {
    position: relative;
    margin-top: 5px;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    z-index: 1000;
    display: none;
}
.custom-select li {
    padding: 5px;
    cursor: pointer;
}
.custom-select li:hover {
    background-color: #f0f0f0;
}
