@media (max-width: 800px) {
    .bruger-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 70px;
    }

    .login-illustartion{
        display: none;
    }

    .side-nav{
        display: none;
    }
    .store-address, .store-email, .store-owner{
        display: none;
    }
    .store-name{
        width: 20%;
    }
    .store-image{
        width: 0%;
    }
  }

@media (min-width: 800px) {
    .bruger-menu{
        display: none;
    }
  }

  

