<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='/js/alerts.js') }}"></script>
<script src="{{ url_for('static', filename='/js/navigation_spa.js') }}"></script>
<script src="{{ url_for('static', filename='/js/get_accounts_info.js') }}"></script>
<script src="{{ url_for('static', filename='/js/change_cover.js') }}"></script>
<script src="{{ url_for('static', filename='/js/change_profile.js') }}"></script>
<script src="{{ url_for('static', filename='/js/change_profile_text.js') }}"></script>
<script src="{{ url_for('static', filename='/js/update_profile.js') }}"></script>
<script src="{{ url_for('static', filename='/js/update_privacy.js') }}"></script>
<script src="{{ url_for('static', filename='/js/change_manager_state.js') }}"></script>
<script src="{{ url_for('static', filename='/js/save_privacy.js') }}"></script>
<script src="{{ url_for('static', filename='/js/save_store.js') }}"></script>
<script src="{{ url_for('static', filename='/js/deleteStore.js') }}"></script>
{% include 'modals.html' %}