<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% include 'header_links.html' %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <form action="/login" method="post" style="margin-top: 100px;" class="form-control rounded rounded-4 pb-5 p-5 d-flex flex-column"> 
                    <h1 class="fw-bold text-center mt-3">eStore Login</h1>
                    
                    {% if error == 1 %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Please fill the fields
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% elif error == 2 %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Incorrect credential
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <input class="form-control mb-2" name="uname" type="text" placeholder="username">
                    <input class="form-control mb-2" name="pass" type="text"  placeholder="password">
                    <button class="btn btn-warning" type="submit">Login</button>
                </form>
            </div>
            <div class="col-12 col-md-8">
                <div class="mt-5">
                    <img style="width: 100%; height: auto; max-width: 100%;" class="mt-5" src="{{ url_for('static', filename='/img/undraw_undraw_undraw_undraw_undraw_undraw_shopping_bags_2ude_-1-_mnw3_-2-_q7y0_muk6_-2-_l1mh_-2-_m4xj.svg') }}" alt="illustrations">
                </div>

            </div>
            
        </div>
    </div>

    {% include 'footer_links.html' %}
</body>
</html>