<!-- Create Store Modal -->
  <div class="modal mt-5 fade" id="createStoreModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Store</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn border-danger text-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning">Save</button>
        </div>
      </div>
    </div>
  </div>