<nav class="navigation mb-3 sticky-top">
    <div class="container inner-nav">
        <div class="title">
            <h2 class="fw-bold">eStore</h2>
        </div>
        <div class="d-flex">
            <div class="list">
                <button class="btn rounded rounded-5" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#notification" aria-controls="offcanvasRight"><i class="bi fs-5 bi-bell-fill"></i></button>
            </div>
            <div class="bruger-menu">
                <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi fs-5 bi-text-right"></i></button>
            </div>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="nav-list">
            <div class="container rounded border p-3 mb-2">
                <h5 class="m-0">July 10, 2024</h5>
                <h1 class="m-0 fw-bolder" style="font-size: 70px;">1:33 AM</h1>
            </div>
            <div class="row">
                <div class="col-6">
                    <a style="width: 100%; height: 100px" class="btn btn-light mb-2" href="{{ url_for('landing') }}">
                        <i style="font-size: 40px" class="bi text-muted bi-house-door"></i>
                        <p>Home</p>
                    </a>
                </div>
                <div class="col-6">
                    <a style="width: 100%; height: 100px" class="btn btn-light mb-2" href="{{ url_for('landing') }}">
                        <i style="font-size: 40px" class="bi text-muted bi-box-seam"></i>
                        <p>Products</p>
                    </a>
                </div>
                <div class="col-6">
                    <a style="width: 100%; height: 100px" class="btn btn-light mb-2" href="{{ url_for('landing') }}">
                        <i style="font-size: 40px" class="bi text-muted bi-truck"></i>
                        <p>Delivery</p>
                    </a>    
                </div>
                <div class="col-6">
                    <a style="width: 100%; height: 100px" class="btn btn-light mb-2" href="{{ url_for('landing') }}">
                        <i style="font-size: 40px" class="bi text-muted bi-people"></i>
                        <p>Accounts</p>
                    </a>
                </div>
                <div class="col-6">
                    <a style="width: 100%; height: 100px" class="btn btn-light mb-2" href="{{ url_for('landing') }}">
                        <i style="font-size: 40px" class="bi text-muted bi-cash-stack"></i>
                        <p>Suppliers</p>
                    </a>    
                </div>
                <div class="col-6">
                    <a style="width: 100%; height: 100px" class="btn btn-light mb-2" href="{{ url_for('settings') }}">
                        <i style="font-size: 40px" class="bi text-muted bi-gear"></i>
                        <p>Settings</p>
                    </a>
                </div>
                <div class="col-6">
                    <a style="width: 100%; height: 100px" class="btn btn-light mb-2" href="{{ url_for('logout') }}">
                        <i style="font-size: 40px" class="bi text-muted bi-power"></i>
                        <p>Logout</p>
                    </a>
                </div>
            </div>
            
            
            
            
            
        </div>
    </div>
  </div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="notification" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Notification</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      ...
    </div>
</div>