<div class=" mt-3">
    <div class="row g-2">
        <div class="col-6 col-sm-6 col-md-3">
          <button type="button" class="btn btn-sm border w-100" data-bs-toggle="modal" data-bs-target="#createStoreModal">
            <i class="bi bi-clipboard-plus me-2"></i>Create Store
          </button>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <button type="button" class="btn btn-sm border w-100" data-bs-toggle="modal" data-bs-target="#createStoreModal">
            <i class="bi bi-person-add me-2"></i>Manager
          </button>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <select id="itemsPerPage" class="form-select form-select-sm w-100">
            <option disabled selected>Show Entries</option>
            <option value="10">10 items</option>
            <option value="20">20 items</option>
            <option value="100">100 items</option>
          </select>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <input type="text" id="search" class="form-control form-control-sm w-100" placeholder="Search...">
        </div>
      </div>
    <div>
        <table class="table">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Name</th>
                <th onclick="sortTable(1)">Age</th>
                <th onclick="sortTable(2)">City</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            
        </tbody>
    </table>
    </div>
    <div class="pagination" id="pagination"></div>
    <div id="info"></div>
</div>