<div class=" mt-3">
    <div class="row g-2">
        <div class="col-6 col-sm-6 col-md-3">
          <button type="button" class="btn btn-sm border w-100" data-bs-toggle="modal" data-bs-target="#createStoreModal">
            <i class="bi bi-clipboard-plus me-2"></i>Create Store
          </button>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <button type="button" class="btn btn-sm border w-100" data-bs-toggle="modal" data-bs-target="#createStoreModal">
            <i class="bi bi-person-add me-2"></i>Manager
          </button>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <select id="itemsPerPage" class="form-select form-select-sm w-100">
            <option disabled selected>Show Entries</option>
            <option value="10">10 items</option>
            <option value="20">20 items</option>
            <option value="100">100 items</option>
          </select>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <input type="text" id="search" class="form-control form-control-sm w-100" placeholder="Search...">
        </div>
      </div>
    <div>
        <div class="table-responsive">
            <table class="table table-hover">
              <thead id="tableHead">
                  <tr>
                      <th class="store-image" style="width: 5%;">Image</th>
                      <th class="store-name" style="width: 15%;">Store Name</th>
                      <th class="store-owner" style="width: 15%;">Store Owner</th>
                      <th class="store-address" style="width: 30%;">Address</th>
                      <th class="store-email" style="width: 10%;">Email</th>
                      <th class="store-action" style="width: 10%;"></th>
                  </tr>
              </thead>
              <tbody id="tableBody">
                  
              </tbody>
          </table>
        </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md-6">
        <div class="pagination" id="pagination"></div>
      </div>
      <div class="col-12 col-md-6 d-flex">
        <div id="info" class="text-muted"></div>
      </div>
    </div>
</div>